POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

POSTGRES_PORT=
POSTGRES_HOST=
SECRET_KEY=

API_TOKEN=

CORS_ORIGINS=
FRONTEND_URL=

PASSWORD_RESET_TOKEN_TTL_MINUTES=
RESEND_COOLDOWN_SECONDS=
EMAIL_VERIFY_TOKEN_TTL_MINUTES=
RESEND_API_KEY=