ENVIRONMENT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

POSTGRES_PORT=
POSTGRES_HOST=
SECRET_KEY=

CORS_ORIGINS=
FRONTEND_URL=

PASSWORD_RESET_CODE_TTL_MINUTES=
RESEND_COOLDOWN_SECONDS=
EMAIL_VERIFY_CODE_TTL_MINUTES=
RESEND_API_KEY=
VERIFICATION_CODE_MAX_ATTEMPTS=
PASSWORD_RESET_CONFIRMATION_TTL_MINUTES=
